<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" id="navbar">
  <div class="container-fluid">
    <%= link_to venues_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dulcgeiwe/image/upload/v1687602163/E_nobg_sqlebq.png", id: "logo" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <button onclick="showBar()" id="search-icon"><i class="fa-solid fa-magnifying-glass fa-2xl" style="color: #f3edf2;"></i></button>
      <span id="searchbar" class="hidden"><%= render "shared/search" %></span>
      <ul class="navbar-nav me-auto" id="nav">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
          <a href="#" class="profile text-decoration-none" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My profile
          </a>
            <div class="dropdown-menu dropdown-menu-end text-center" aria-labelledby="navbarDropdown">
              <% if current_user.photo.key %>
            <%= cl_image_tag current_user.photo.key, class: "avatar-large", alt: "dropdown menu" %>
            <% else %>
            <img src="https://res.cloudinary.com/dwouepnpu/image/upload/v1685980904/4378936_umm3gk.png", class= "avatar-large", alt= "dropdown menu">
            <% end %>
              <%= link_to "View profile", profile_path, class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link text-white" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
