<div class="container">
  <div class="d-flex justify-content-between">
    <h1>Hello, <%= @user.first_name %></h1>
    <div class="avatar-profile">
      <% if current_user.photo.key %>
        <%= cl_image_tag current_user.photo.key, class: "avatar-large", alt: "dropdown menu" %>
      <% else %>
        <img src="https://res.cloudinary.com/dwouepnpu/image/upload/v1685980904/4378936_umm3gk.png", class= "avatar-large", alt= "dropdown menu">
     <% end %>
    <%= link_to "Add new venue", new_venue_path, class:"btn btn-primary text-decoration-none" %>
    </div>
  </div> <br>
  <div class="user-details">
    <h2>My info <%= link_to "ðŸ–Š", edit_user_registration_path, class:"edit text-decoration-none text-black" %></h2>
    <p>My e-mail:   <%= @user.email %></p><br>
    <h3>About me</h3>
    <br>
    <h2>My details</h2>
    <div class="details-box">
      <% if @user.details.present? %>
      <p><%= @user.details %></p>
      <% else %>
      <p>You haven't added your personal information...</p>
      <% end %>
    </div>
    <h2>My bookings</h2>
    <div class="details-box">
        <% if @bookings.present? %>
          <ul>
            <% @bookings.each do |booking| %>
              <div class="d-flex justify-content-between">
                <li><%=link_to booking.venue.name, venue_path(booking.venue), class: "venue-link text-decoration-none" %> from <%= booking.booking_start_date%> until <%= booking.booking_end_date %></li>
                <%= link_to "ðŸ—‘ï¸", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Cancel this booking?"}  %>
              </div> <br>
            <% end %>
          </ul>
          <% else %>
            <p>You don't have any bookings yet...</p>
        <% end %>
    </div>
    <h2>My venues</h2>
    <div class="details-box">
      <% if @user.venues.present? %>
        <div class="row row-cols-5">
          <% @user.venues.each do |venue| %>
            <div class="col card my-venue-card">
              <% if venue.photos.attached? %>
              <div class="index-card-img-container">
                <img src="<%= url_for(venue.photos[0]) %>" class="index-card-img">
              </div>
            <% else %>
              <div class="index-card-img-container">
                <img src="https://res.cloudinary.com/dulcgeiwe/image/upload/v1687711960/avatar-icon_nyvbwv.png" class="index-card-img">
              </div>
            <% end %>
            <div class="index-card-overlay">
              <h5><%= link_to venue.name, venue_path(venue), class:"text-decoration-none text-white" %></h5>
            </div>

            </div>
          <% end %>
        </div>
      <% else %>
        <p>You haven't added new venues yet...</p>
      <% end %>
    </div>
  </div>
</div>
