<div class="container">
  <div class="d-flex justify-content-between">
    <h1>Hello, <%= @user.first_name %></h1>
    <div class="avatar-profile">
      <% if current_user.photo.key %>
        <%= cl_image_tag current_user.photo.key, class: "avatar-large", alt: "dropdown menu" %>
      <% else %>
        <img src="https://res.cloudinary.com/dwouepnpu/image/upload/v1685980904/4378936_umm3gk.png", class= "avatar-large", alt= "dropdown menu">
     <% end %>
    <%= link_to "Add new venue", new_venue_path, class:"btn btn-primary text-decoration-none" %>
    </div>
  </div> <br>
  <div class="user-details">
    <h2>My info</h2>
    <p>My e-mail:   <%= @user.email %></p><br>
    <h3>About me</h3>
    <% if @user.detail.present? %>
      <div class=" d-flex details-box">
        <%= link_to "ðŸ—‘ï¸", detail_path(@detail), class:"delete-detail", data: {turbo_method: :delete, turbo_confirm: "Clear details field?"} %>
        <p><%=@user.detail.content %></p>
      </div>
    <% else %>
      <%= render "details/form", detail: @detail %>
    <% end %> <br>
    <h2>My bookings</h2>
    <div class="details-box">
        <% if @bookings.present? %>
          <ul>
            <% @bookings.each do |booking| %>
              <div class="d-flex justify-content-between">
                <li><%=link_to booking.venue.name, venue_path(booking.venue), class: "venue-link text-decoration-none" %> from <%= booking.booking_start_date%> until <%= booking.booking_end_date %></li>
                <%= link_to "ðŸ—‘ï¸", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Cancel this booking?"}  %>
              </div> <br>
            <% end %>
          </ul>
          <% else %>
            <p>You don't have any bookings yet...</p>
        <% end %>
    </div>
  </div>
</div>
