
  <div class="index-container">

    <% if params[:query] && params[:query] != ""%>
    <h1 class="index-title">Results for <%= params[:query] %></h1>
    <% else %>
    <h1 class="index-title my-4">Venues across our Globe.</h1>
    <% end %>

    <div  data-controller="map"
          id='map'
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          style='width: 400px; height: 300px;'></div>

    <div class="row">
      <% @venues.each_with_index do |venue, index| %>
        <div class="col-md-4 mb-4">
          <div class="index-card">
            <% if venue.photos.attached? %>
              <div class="index-card-img-container">
                <img src="<%= url_for(venue.photos[0]) %>" class="index-card-img">
              </div>
            <% else %>
              <div class="index-card-img-container">
                <img src="https://res.cloudinary.com/dulcgeiwe/image/upload/v1687711960/avatar-icon_nyvbwv.png" class="index-card-img">
              </div>
            <% end %>
            <div class="index-card-overlay">
              <h5 class="index-card-title"><%= venue.name %></h5>
              <p class="index-card-text"><%= venue.location %></p>
              <a href="<%= venue_path(venue) %>" class="btn btn-dark">View details</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

    <div class="" style="display: flex; flex-direction: column; gap: 30px;">
      <div id="chatbot"  class="position-absolute bottom-0 mx-3 mb-5" style=" background-color: blue; width: 400px; border-radius: 15px; right: 75px;" class="p-2">
        <div style="">
            <div class="m-5 d-flex flex-column justify-content-around bg-success p-2 text-white bg-opacity-75" style="width: 300px">
              <p style="color: black"><%= @answer %></p>
            </div>

            <form action="/venues" class="m-5 d-flex flex-row justify-content-around mb-4" style="width: 300px">
              <input type="text" name="question" class="border-0 bg-success p-2 rounded h-75" style="--bs-bg-opacity: .5;">
              <input type="submit" value="Ask!" class="btn btn-primary ms-2">
            </form>

        </div>

      </div>

    <button id="open-chatbot" class="btn btn-primary position-absolute end-0 m-2" style="cursor:pointer; bottom: 0px;">Chatbot</button>
    </div>

</div>


<script>
  document.querySelector("#open-chatbot").addEventListener("click", () => {
    document.querySelector("#chatbot").classList.toggle("d-none");
  })

</script>
