<% rat = [] %>
<% size = @venue.reviews.size %>

<div data-controller="booking-form">
  <div  class="container position-relative mt-5" style="height: 640px; z-index: 1;">
  <h1 style="color: black;"><%= @venue.name %></h1>
    <% if @venue.reviews.size > 0 %>
    <% @venue.reviews.each do |rev| %>
    <% rat << rev.rating %>
    <%end%>
    <p><%= "⭐" * (rat.sum / size) %></p>
    <%end%>

  <p style="color: black;"><strong><%= @venue.location %></strong></p>

  <div class="mb-2">
  <%= link_to '🖊️', edit_venue_path, class: "text-decoration-none pb-4 e"%>

  <%= link_to '🗑️',
    venue_path(@venue),
    class: "text-decoration-none pb-4 d",
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}

  %>
  <button id="bookings-history-btn" class="" style="background-color: transparent; border: none; color: gray;">🗒️</button>
  <%if @venue.user === current_user %>
  <button id="tags-btn" class="" style="background-color: transparent; border: none; color: gray;">#️⃣</button>
  <% end %>
  <span class="d-none" id="h">Add tag</span>
  <span class="d-none" id="t">Booking History</span>
  <span class="d-none" id="e">Edit venue</span>
  <span class="d-none" id="d">Delete venue</span>
  </div>

  <div style="width: 400px;">
    <ul style="display: flex; flex-direction: row; gap: 15px; flex-wrap: wrap;">
      <% @venue.tags.each do |tag| %>
        <li class="text-center" style="list-style: none; height: 30px; width: 80px; background-color: darkblue; border-radius: 15px; color: white; position: relative; ">
        <%= tag.text %>
        <%if tag.user_id === current_user.id %>
        <div style="background-color: black; color: white; border-radius: 50%; width: 25px; height: 25px; position: absolute; top: -10px; right: -10px; z-index: 3;">
        <%= link_to 'X',
              "/tags/#{tag.id}",
              class: "text-decoration-none",
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
        %></div>
        <% end %>
        </li>
      <%end%>
    </ul>
  </div>

  <div id="bookings-history" class="position-absolute start-0 p-5 d-none mb-5" style="width: 300px; height: 350px; background-color: white; z-index: 2; overflow: auto;">
    <% @venue.bookings.each do |booking| %>
      <h3><strong style="color: darkblue;"><%= booking.user.first_name %> <%= booking.user.last_name %></strong> has booked this venue </h3>
      <p>From <%= booking.booking_start_date %></p>
      <p>To <%= booking.booking_end_date %></p>
      <p style="border-bottom: solid 1px gray;">For <%= booking.amount_guests %> people. </p>
    <% end %>
  </div>

  <div id="tags-form" class="position-absolute start-0 p-4 shadow p-3 mb-5 rounded d-none" style="width: 200px; height: 200px; background-color: transparent; z-index: 2;">
    <%= simple_form_for [@venue, @tag] do |f| %>
    <%= f.input :text, html5: true, input_html: { class: "bg-transparent border border-primary"}%>
    <%= f.submit 'Add', :action => :create, :method => :post, class:"btn btn btn-dark text center w-100 text-white fw-bold mt-2 mb-2" %>
    <% end %>
  </div>

  <div data-booking-form-target="review" class="position-absolute start-0 p-4 d-none" style="width: 400px; height: 450px; background-color: white; z-index: 2;">
    <div class="position-relative" style="width: 350px; height: 30px;">
    <span class="position-absolute end-0" data-booking-form-target="closereview" data-action="click->booking-form#closeReview"><i class="fa-solid fa-circle-xmark" style="color: #0d0d0d; cursor: pointer;"></i></span>
    </div>

    <h2 class="text-center">Give us your feedback, reviews are anonymous</h2>
     <%= simple_form_for [@venue, @review] do |f| %>
    <%= f.input :text, :label =>"Review", html5: true%>
    <%= f.input :rating, :label =>"Rating", html5: true%>
    <%= f.submit 'Add review', :action => :create, :method => :post, class:"btn btn btn-dark text center w-100 text-white fw-bold mt-4" %>
    <% end %>
  </div>

  <div class="container position-absolute start-50 top-0 " style="width: 600px; height: 300px;">
    <% if @venue.photos.attached? %>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% if @venue.photos.size >= 1 %>
            <% @venue.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%= index.zero? ? 'active' : '' %>" style="width: 600px; height: 300px; ">
              <%= cl_image_tag photo.key, style: "width: 600px; height: 300px; object-fit: fit;"%>
            </div>
            <% end %>
            <% else %>
            <div class="carousel-item active">
              <div class="text-center p-5" style="height: 300px; background-color: black;">
                <span class="" style="color: white;">No photos available.</span>
              </div>
            </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="" aria-hidden="true">◀️</span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="" aria-hidden="true">▶️</span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      <%end%>
    </div>

  <p class="position-absolute top-50 start-50 d-flex flex-column" style="color: black;">
  <span class="mb-2">Available during: <strong><%= @venue.availability_dates %></strong></span>
  <span class="mb-2">From: 💲 <%= @venue.price %></span>

  <span style="z-index: 1;"><%= @venue.description %></span>
  </p>


  <div data-booking-form-target="form" class="position-absolute end-0 p-4 d-none" style="width: 400px; height: 450px; background-color: white; z-index: 2;">
    <div class="position-relative" style="width: 350px; height: 30px;">
    <span class="position-absolute end-0" data-booking-form-target="closeform" data-action="click->booking-form#closeForm"><i class="fa-solid fa-circle-xmark" style="color: #0d0d0d; cursor: pointer;"></i></span>
    </div>

    <h2 class="text-center">Booking form</h2>
    <%= simple_form_for [@venue, @booking] do |f| %>
    <%= f.input :booking_start_date, as: :date, :label =>"Choose start date", html5: true%>
    <%= f.input :booking_end_date, as: :date, :label =>"Choose end date", html5: true%>
    <%= f.input :amount_guests, :label =>"# of Guests", html5: true%>
    <%= f.submit 'Send booking request', :action => :create, :method => :post, class:"btn btn btn-dark text center w-100 text-white fw-bold mt-4" %>
    <% end %>
  </div>


  <p class="position-absolute bottom-0 start-0" style="width: 200px; height: 30px; font-size:30px;">

    <a href="/venues" class="pt-1" style="width: 30px; height: 30px; color: black;"><i class="fa-solid fa-arrow-left"></i></a>

  </p>

  <p class="position-absolute bottom-0 end-0 d-flex justify-content-around" style="width: 500px; height: 30px;">


    <button class="btn btn-dark pb-4" data-booking-form-target="openreview" data-action="click->booking-form#openReview">Leave review</button>

  <%= link_to "Chat with owner",
      "#", class: "btn btn-secondary pb-4"
    %>

    <button class="btn btn-dark pb-4" data-booking-form-target="openform" data-action="click->booking-form#openForm">Book now!</button>



  </p>
  </div>

  <% if @venue.reviews.size > 0 %>
  <div class="container my-5 me-3">
    <h1><%= @venue.reviews.size %> reviews for <%= @venue.name %></h1>

    <div class="row">
      <% @venue.reviews.each do |review| %>

        <div class="col-4 p-5 shadow p-3 mb-5 bg-body rounded m-2 position-relative d-none"  style="height: 300px; width: 380px; border-radius: 8px;">

              <p class="p-3" style="height: 150px; "><%= review.text %></p>
            <button class="hiderev position-absolute top-0 end-0 btn btn-dark">X</button>

        </div>

        <div class="col-4 p-5 shadow p-3 mb-5 bg-body rounded m-2 position-relative"  style="height: 300px; width: 380px; border-radius: 8px;">

            <h4 class="mb-2"><%=  "⭐" * review.rating%></h4>
            <small class="ms-3"><%= review.created_at.to_date %></small>
            <p class="p-3" style="height: 120px; "><%= review.text.truncate(90) %></p>


            <button class="viewrev btn btn-dark">View review</button>

            <%= link_to '🗑️',
              "/reviews/#{review.id}",
              class: "text-decoration-none pb-4 position-absolute bottom-0 end-0 p-5",
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}

            %>
        </div>
        <% end %>
    </div>
  </div>
  <%end%>
</div>

<script>

  document.querySelectorAll(".viewrev").forEach( (e) => {
    e.addEventListener("click", () => {
      e.parentElement.classList.add("d-none");
      e.parentElement.previousElementSibling.classList.remove("d-none");
      e.parentElement.previousElementSibling.style.overflow = "auto";
    })
  })

  document.querySelectorAll(".hiderev").forEach( (e) => {
    e.addEventListener("click", () => {
      e.parentElement.classList.add("d-none");
      e.parentElement.nextElementSibling.classList.remove("d-none");
    })
  })

  document.querySelector("#bookings-history-btn").addEventListener("click", () => {
    document.querySelector("#bookings-history").classList.toggle("d-none");
  })

  document.querySelector("#bookings-history-btn").addEventListener("mouseover", () => {
    document.querySelector("#t").classList.toggle("d-none");
  })

  document.querySelector("#bookings-history-btn").addEventListener("mouseout", () => {
    document.querySelector("#t").classList.toggle("d-none");
  })

  document.querySelector(".e").addEventListener("mouseover", () => {
    document.querySelector("#e").classList.toggle("d-none");
  })

  document.querySelector(".e").addEventListener("mouseout", () => {
    document.querySelector("#e").classList.toggle("d-none");
  })

  document.querySelector(".d").addEventListener("mouseover", () => {
    document.querySelector("#d").classList.toggle("d-none");
  })

  document.querySelector(".d").addEventListener("mouseout", () => {
    document.querySelector("#d").classList.toggle("d-none");
  })

  document.querySelector("#tags-btn").addEventListener("mouseover", () => {
    document.querySelector("#h").classList.toggle("d-none");
  })

  document.querySelector("#tags-btn").addEventListener("mouseout", () => {
    document.querySelector("#h").classList.toggle("d-none");
  })

  document.querySelector("#tags-btn").addEventListener("click", () => {
    document.querySelector("#tags-form").classList.toggle("d-none");
  })

</script>
