
<div class="container position-relative mt-5" style="height: 600px;">
  <h1 style="color: #9CD7F2;"><%= @venue.name %></h1>
  <p style="color: #9CD7F2;"><strong><%= @venue.location %></strong></p>


  <%= link_to 'ðŸ–Šï¸', edit_venue_path, class: "text-decoration-none pb-4"%>

  <%= link_to 'ðŸ—‘ï¸',
    venue_path(@venue),
    class: "text-decoration-none pb-4",
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>



  <p class="position-absolute top-50 start-50 d-flex flex-column" style="color: #005F89;">
  <span class="mb-2">Available during: <strong><%= @venue.availability_dates %></strong></span>
  <span><%= @venue.description %></span>
  </p>

  <p class="position-absolute bottom-0 start-0" style="width: 200px; height: 30px; font-size:30px;">

    <a href="/venues" class="pt-1" style="width: 30px; height: 30px; color: black;"><i class="fa-solid fa-arrow-left"></i></a>

  </p>

  <p class="position-absolute bottom-0 end-0 d-flex justify-content-around" style="width: 300px; height: 30px;">

  <%= link_to "Chat with owner",
      "#", class: "btn btn-secondary pb-4"
    %>

    <%= link_to "Book now!", "#", class: "btn btn-dark pb-4"%>

  </p>
</div>
